.App {
  text-align: center;
 
}
body{
  background-color:rgb(251, 227, 193);
}
a{
  text-decoration: none;
  color: #666;
  padding: 1rem;
  font-size: larger;
}
a:hover{
  text-decoration: none;
  color: #666;
  padding: 1rem;  
}