.App {
  text-align: center;
 
}
body{
  background-color:rgb(208, 220, 232);
}
a{
  text-decoration: none;
  color: #666;
  padding: 1rem;
}
a:hover{
  text-decoration: none;
  color: #666;
  padding: 1rem;  
}